---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

nav[data-toggle='toc'] {
  margin-top: 3rem;
  top: 42px;
}

nav[data-toggle="toc"] .nav-link.active,
nav[data-toggle="toc"] .nav-link.active:focus,
nav[data-toggle="toc"] .nav-link.active:hover {
  color: #157878;
  border-color: #157878;
}

/* the top-level nav */
nav[data-toggle='toc'] .nav > li > a {
  font-size: 1rem;
}

/* the sub-nav */
nav[data-toggle='toc'] .nav .nav > li > a {
  font-size: 1rem;
}


/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }

  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}

.nounderline {
  text-decoration: none !important;
}

a.nostyle, a.nostyle:hover, a.nostyle:active, a.nostyle:focus {
  text-decoration: none !important;
  color: inherit;
}

.cayman-navbar {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color-secondary;
  background-image: linear-gradient(20deg, $header-bg-color-secondary, $header-bg-color);
}

@media all and (max-width: 768px) {
  .cayman-navbar {
    background-image: none;
  }
}

.main-content pre > code {
  font-family: 'Inconsolata', monospace;
  font-size: 1.2rem;
  line-height: 1.45rem;
}

.main-content {
  padding: 2rem 1rem;
}
