---
---

@import "{{ site.theme }}";

nav[data-toggle='toc'] {
  margin-top: 3rem;
  top: 42px;
}

nav[data-toggle="toc"] .nav-link.active,
nav[data-toggle="toc"] .nav-link.active:focus,
nav[data-toggle="toc"] .nav-link.active:hover,
nav[data-toggle="toc"] .nav > li > a:hover,
nav[data-toggle="toc"] .nav .nav > li > a:hover {
  color: #157878;
  border-color: #157878;
}

/* the top-level nav */
nav[data-toggle='toc'] .nav > li > a {
  font-size: 1rem;
}

/* the sub-nav */
nav[data-toggle='toc'] .nav .nav > li > a {
  font-size: 1rem;
}


/* small screens */
@media (max-width: 768px) {
  /* override stickyness so that the navigation does not follow scrolling */
  nav[data-toggle='toc'] {
    margin-bottom: 42px;
    position: static;
  }

  nav[data-toggle='toc'] .nav .nav {
    display: block;
  }
}

.nounderline {
  text-decoration: none !important;
}

a.nostyle, a.nostyle:hover, a.nostyle:active, a.nostyle:focus {
  text-decoration: none !important;
  color: inherit;
}

.cayman-navbar {
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color-secondary;
  background-image: linear-gradient(20deg, $header-bg-color-secondary, $header-bg-color);
}

@media all and (max-width: 768px) {
  .cayman-navbar {
    background-image: none;
  }
}


#content {
  margin-top: 14px;

}

.main-content .btn-example {
  margin: 1rem 0 0 0;
  float: right;
  display: inline-block;
}

.nav-pills .nav-link {
  color: $header-bg-color;

  &.active, &.active:hover {
    background-color: $header-bg-color;
  }
}

.terminal-wrap {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.85);
  margin: auto;
  max-width: 530px;;
  clear: both;
  overflow: hidden;
}

.terminal-body {
  color: #f0f0f0;
  font-weight: 500;
  text-align: left;
  overflow: hidden;

}


.tutorial-row {
  border-bottom: 1px solid rgba(0, 0, 0, .125);
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.home-list-item {
  border-left: none;
  border-right: none;
}
